@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($properties, $duration) {
  transition: $properties $duration ease;
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint ==mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  }

  @else if $breakpoint ==tablet {
    @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
      @content;
    }
  }

  @else if $breakpoint ==desktop {
    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
      @content;
    }
  }

  @else {
    @content;
  }
}