// Colors
$primary-color: #1677FF;
$secondary-color: #F7F7F7;
$text-light: #ffffff;
$text-dark: #000000;
$bg-light: #F7F7F7;
$bg-dark: #131F30;

// Font sizes
$small-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 20px;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
