@import '../../styles/variables';
@import '../../styles/mixins';

.admin__wrapper {
    width: 80%;
    height: 100vh;
    padding: 15px 25px;

    @include breakpoint(mobile) {
        width: 85%;
        padding: 15px 5px;
    }

    @include breakpoint(tablet) {
        width: 85%;
        padding: 15px 10px;
    }

    .admin__content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &--head {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 3fr;
            gap: 10px;
            width: 100%;

            @include breakpoint(mobile) {
                grid-template-columns: 1fr;
            }

            @include breakpoint(tablet) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include breakpoint(desktop) {
                grid-template-columns: repeat(4, 1fr);
            }

            .admin__head--counter {
                font-size: 15px;
                font-weight: 500;
                padding: 7px;

            }

            &-title {
                font-size: 28px;
                font-weight: 600;
            }
        }

    }
}