@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
}


// EDIT TABLE
.ant-table-cell {
    padding: 6px 8px !important;
}

.ant-modal-body form {

    .ant-col {
        padding: 4px 0 0 0 !important;
    }

    input {
        margin-bottom: 10px !important;
    }
}

.ant-modal-footer {
    margin-top: 20px !important;

    button {
        margin-right: 10px !important;
    }
}

.ant-empty-image {
    min-height: 300px;
}