* {
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main {
    display: flex;
    justify-content: space-between;
}

.ant-table-cell {
    padding: 6px 8px !important;
}

